.App {
  color: white;
  text-align: center;
}

.logo{
  margin-left: 2rem;
  width: 5rem;
  float: left;
}

/* nav{
  display: flex;
  
} */

#toolbar{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#toolbar a{
  padding-left: 2.5rem;
}

#toolbar button{
  margin-left: 2rem;
  background-color: hsla(0,0%,100%,.08);
  color: #269afe;
  border: none;
  font-size: 17px;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
}

.navbar__link--active{
  color: blue;
}
